{
    "presets": [
        "react",
        ["es2015", {"modules": false}],
        "stage-2",
        ["env", {
            "targets": {
                "browsers": ["last 2 versions"]
            }
        }]
    ],
    "plugins": ["transform-class-properties","transform-es3-property-literals"],
    "env": {
        "production": {
            "plugins": [
                "transform-react-constant-elements",
                [
                    "replace-variable", {
                        "__BASEURL__": "https://app.pairin.com"
                    }
                ]
            ]
        },
        "staging": {
            "plugins": [
                [
                    "replace-variable", {
                        "__BASEURL__": "https://pairin-staging.herokuapp.com"
                    }
                ]
            ]
        },
        "development": {
            "plugins": [
                [
                    "replace-variable", {
                        "__BASEURL__": "http://localhost:3001"
                    }
                ]
            ]
        }
    }
}
